body{
  background-color: rgb(61, 61, 65);
  margin: 0;
  font-family: Noto Sans;
}
.texte_centré{
  text-align: center;
}
/******************************************************************************/
header{
  background-color: rgb(65, 0, 0);
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
  box-shadow: 0px 5px 10px rgb(30, 0, 0);

}
nav{
  display: flex;
  justify-content: space-around;
  padding: 1%;
  font-size: 1.5em;
}
a{
  text-decoration: none;
  color: white;
  padding-bottom: 10px;
}
a:hover{
  text-shadow: 5px 5px 2px black;
}
p i{
  color: white;
}
/******************************************************************************/
#présentation_générale{
  text-align: center;
}
/******************************************************************************/
#présentation_par_idées{
  color: white;
  display: flex;
  justify-content: space-around;
}
#présentation_par_idées section{
  text-align: center;
  width: 30%;
  border-radius: 10px;
  margin: 2%;
  padding: 1%;
}
#présentation_par_idées section:hover{
  box-shadow: 10px 10px 10px black;
  background-color: rgb(82, 82, 82);
}
#présentation_par_idées .mesures_immédiates{
  border: 4px red solid;
}
#présentation_par_idées .analyse_simple {
  border: 4px blue solid;
}
#présentation_par_idées .visualisation{
      border: 4px green solid;
}
/**********************************images**************************************/
#Pbdemarage img{
  width: 20%;
  margin-left: 0%;
  border-radius: 5px;
}
#image_regressis{
  width: 30%;
  margin-left: 5%;
  border-radius: 5px;
}
#mesure img{
  width: 30%;
  margin-left: 5%;
  border-radius: 5px;
}
#preference img{
  width: 30%;
  margin-left: 5%;
  border-radius: 5px;
}
/**********************************agencement_aide*****************************/
#corps_sous_navigation{
  display: flex;
  justify-content: space-around;
}
.gauche{
  width: 20%;
  margin: 2%;
  padding: 1%;
  border: 2px red solid;
  border-radius: 10px;
}
.gauche:hover{
  box-shadow: 10px 10px 10px black;
  background-color: rgb(82, 82, 82);
}
.droite{
  width: 70%;
  margin: 2%;
}
