body{
  background-color: rgb(61, 61, 65);
  margin: 0;
  font-family: Noto Sans;
}
.texte_centré{
  text-align: center;
}
/******************************************************************************/
header{
  background-color: rgb(0,0,0);
  color: white;
  padding-top: 1%;
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 2;
}
nav{
  position: sticky;
  display: flex;
  justify-content: space-around;
  padding: 5%;
  padding-top: 15%;
  z-index: 1;

}
nav a{
  text-decoration: none;
  color: white;
}
/******************************************************************************/
#présentation_générale{
  text-align: center;
}
/******************************************************************************/
#présentation_par_idées{
  color: white;
  display: flex;
  justify-content: space-around;
}
#présentation_par_idées section{
  text-align: center;
  width: 30%;
  border-radius: 10px;
  margin: 2%;
  padding: 1%;
}
#présentation_par_idées section:hover{
  box-shadow: 10px 10px 10px black;
  background-color: rgb(82, 82, 82);
}
#présentation_par_idées .mesures_immédiates{
  border: 4px red solid;
}
#présentation_par_idées .analyse_simple {
  border: 4px blue solid;
}
#présentation_par_idées .visualisation{
      border: 4px green solid;
}

/**********************************images**************************************/
#image_regressis{
  width: 40%;
  margin-left: 5%;
}
